/*
=========
  Fonts
=========
*/
@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

/*
=============
  Reest Css
=============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============
  Styles Css
=============
*/

:root {
    --primery-color: #1D2939;
    --secondery-color: #FFFFFF;
    --btn1-tf: cubic-bezier(0.19, 1, 0.22, 1); 
    --btn2-tf: cubic-bezier(0.86, 0, 0.07, 1);
    --btn3-tf: cubic-bezier(0.23, 1, 0.32, 1); 
    --btn4-tf: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    --btn5-tf: cubic-bezier(0.17, 0.84, 0.44, 1); 
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: "Roboto Regular", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5rem;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 5rem;
}

/* button */

.btn {
	width: 14rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: none;
	color: var(--secondery-color);
	background-color: var(--primery-color);
	border: 1px solid inherit;
	cursor: pointer;
	transition: all 640ms var(--btn1-tf);
	position: relative;
	overflow: hidden;
}

/* button-1 */

.btn-1:hover {
	color: var(--primery-color);
	background-color: var(--secondery-color);
	border: 1px solid var(--primery-color);
	box-shadow: 4px 4px 0 var(--primery-color);
}

/* button-2 */

.btn-2:hover .btn-2__overlay {
  transform: translateX(0);
}

.btn-2__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .1rem;
  color: var(--primery-color);
  background-color: var(--secondery-color);
  border-top: 1px solid var(--primery-color);
  border-bottom: 1px solid var(--primery-color);
  transform: translateX(-100%);
  transition: all 180ms var(--btn2-tf);
}

.btn-2 svg {
  width: 2rem;
  height: 2rem;
}

/* button-3 */

.btn-3 {
	background-color: var(--secondery-color);
	color: var(--primery-color);
}


.btn-3:hover::after,
.btn-3:hover::before {
	height: 100%;
}

.btn-3::after,
.btn-3::before {
	content: '';
	position: absolute;
	width: .08rem;
	height: 0;
	background-color: var(--primery-color);
	transition: all 500ms var(--btn3-tf);
}

.btn-3::after {
	right: 0;
	bottom: 0;
}

.btn-3::before {
	left: 0;
	top: 0;
}

.btn-3__overlay {
	color: var(--primery-color);
	display: block;
	line-height: 5rem;
	inset: 0;
}

.btn-3__overlay:hover::after,
.btn-3__overlay:hover::before {
	width: 100%;
}

.btn-3__overlay::after,
.btn-3__overlay::before {
	content: '';
	position: absolute;
	width: 0;
	height: .09rem;
	background-color: var(--primery-color);
	transition: all 500ms var(--btn3-tf) 500ms;
}

.btn-3__overlay::after {
	left: 0;
	top: 0;
}

.btn-3__overlay::before {
	right: 0;
	bottom: 0;
}

/* button-4 */

.btn-4 {
	background-color: var(--secondery-color);
	color: var(--primery-color);
}


.btn-4:hover::after,
.btn-4:hover::before {
	height: 50%;
}

.btn-4::after,
.btn-4::before {
	content: '';
	position: absolute;
	width: .09rem;
	height: 0;
	background-color: var(--primery-color);
	transition: all 160ms var(--btn3-tf);
}

.btn-4::after {
	right: 0;
	bottom: 0;
}

.btn-4::before {
	left: 0;
	top: 0;
}

.btn-4__overlay {
	color: var(--primery-color);
	display: block;
	line-height: 5rem;
	inset: 0;
}

.btn-4__overlay:hover::after,
.btn-4__overlay:hover::before {
	width: 25%;
}

.btn-4__overlay::after,
.btn-4__overlay::before {
	content: '';
	position: absolute;
	width: 0;
	height: .09rem;
	background-color: var(--primery-color);
	transition: all 160ms var(--btn4-tf);
}

.btn-4__overlay::after {
	left: 0;
	top: 0;
}

.btn-4__overlay::before {
	right: 0;
	bottom: 0;
}

/* button-5 */

.btn-5 {
	border: 1px solid var(--primery-color);
	background-color: var(--secondery-color);
	color: var(--primery-color);
}

.btn-5:hover::after {
	transform: scale(15);
}

.btn-5::after {
    content: '';
    position: absolute;
    left: -2.5rem;
    bottom: -2.5rem;
    width: 2.5rem;
    height: 1.6rem;
    border-radius: 100%;
    background-color: var(--primery-color);
    transition: all 500ms var(--btn5-tf);
    z-index: 1;
}

.btn-5__overlay {
    z-index: 2;
}
